@mixin align-center {
  -webkit-box-align: center !important;
  align-items: center !important;
  -ms-flex-align: center !important;
}
@mixin anchor-main {
  font-size: 16px;
  text-transform: uppercase;
  color: $theme-main-color;
}
@mixin d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

// Slider Contact Box
/* SECTIONS ** */
/* Call to Actions ** */
section.call-to-actions {
  background: rgba($white, 0.2);
  position: absolute;
  bottom: 0;
  width: 100vw;
  width: 100%;
  z-index: 999;
  .container {
    color: $white;
    #info {
      background: rgba($theme-main-color, 0.7);
    }
    p {
      margin: 0;
      text-transform: uppercase;
    }
  }

  .contacts a {
    color: $white;
    &:hover {
      color: $theme-accent-color;
    }
  }

  .icon {
    background-color: $theme-accent-color;
    font-size: 13px;
  }
  
}

/* Home Section ** */
section.home-content {
  position: relative;
  overflow: hidden;
  padding: $section-padding;
  background: $white;
}

section.home-content .container,
section.home-content .container-fluid {
  position: relative;
  z-index: 3;
}

.featured-title,
section.home-content #primary h1 {
  font-family: $font-primary-alt;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  display: block;
  margin: 0 auto 1rem;
  padding: 0 0 1rem 0;
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  color: lighten($theme-main-color, 15%); // $theme-main-color lightened a bit
  @media (max-width: $lg) {
    font-size: 36px;
  }
  @media (max-width: $md) {
    font-size: 32px;
  }
}

section.home-content #primary h1 {
  font-size: 60px;
  @media (max-width: $lg) {
    font-size: 48px;
  }
  @media (max-width: $md) {
    font-size: 32px;
  }
}

.featured-title span,
section.home-content #primary h1 span.sub {
  font-family: $font-primary;
  font-size: 32px;
  display: block;
  padding-top: 0;
  padding-left: 1rem;
  text-transform: none;
  color: $theme-secondary-color;
  @media (max-width: $lg) {
    font-size: 24px;
  }
}

.featured-title span {
  padding: 0;
  font-size: 24px;
}

#services {
  background: url(img/bg-services.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 12rem 0;
  position: relative;

  @media screen and (max-width: $md) {
    background-attachment: scroll;
  }

  @media screen and (max-width:$xs) {
    padding: 4rem 0;
    background-position: right center;
  }

  &::after {
    content: '';
    height: 45px;
    width: 100%;
    bottom: 0;
    background-color: rgba($white, 0.3);
    z-index: 9;
    position: absolute;
  }

  .square {
    background: $theme-main-color;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    @media screen and (max-width:$xs) {
      padding-bottom: 30%;
      margin: 1rem 0;
    }
    
    .square-inn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: .75em;
      font-size: 2.5vw;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba($white, 0.3);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    .box {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 0;
      background-color: rgba($white, 0.3);
      opacity: 0;
      transition: all 0.3s ease;
      span {
        transform: scale(0.8);
      }
    }

    &:hover {
      .box {
        opacity: 1;
      }
    }
    
    h3 {
      color: $white;
      font-family: $font-primary-alt;
      text-align: center;
      font-size: 30px;
      margin: 0;
      padding: 0;
      line-height: 1.3;
      @media screen and (max-width:$lg) {
        font-size: 24px;
      }
      @media screen and (max-width:$md) {
        font-size: 18px;
      }
      @media screen and (max-width:$sm) {
        font-size: 13px;
      }
      @media screen and (max-width:$xs) {
        font-size: 20px;
      }
    }
  }

}

/* Meet Doc */
section.meet {
  overflow: hidden;
  padding: 4rem 0;

  h2.featured-title {
    font-family: $font-primary-alt;
    font-size: 60px;
    span {
      font-size: 24px;
      text-transform: uppercase;
      margin: 2rem 0 0 0;
      @media screen and (max-width: $md) {
        font-size: 18px;
      }
    }
    @media screen and (max-width: $md) {
      font-size: 42px;
    }
  }

  & [class='col-sm-6'] {
    @media screen and (max-width: $xs) {
      margin-bottom: 3rem;
    }
  }

  p {
    margin: 0.75rem 0;
  }

  .btn {
    margin: 1rem 0 1.5rem;
  }
}

section.cta-boxes {
  padding: 4rem 0;

  .box {
    position: relative;
    transition: all 0.2s ease-in-out;

    img {
      width: 100%;
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 7px 21px rgba(#000, .2);
    }

    h4 {
      font-size: 28px;
      position: relative;
      font-family: $font-primary-alt;
      z-index: 3;
      width: 100%;
      margin: 0;
      padding: 0;
      transition: all 0.25s ease-in-out;
      text-align: center;
      color: $theme-main-color;
      @media screen and (max-width: $md) {
        font-size: 16px;
        letter-spacing: 0;
      }
    }

    &:hover h4 {
      color: $white;
    }

    .holder {
      background: rgba($white, .7);
      width: 100%;
      position: absolute;
      bottom:0;
      left:0;
      transition: all 0.25s ease-in-out;
      display: flex;
      align-items: center;
    }

    &:hover .holder {
      background: $theme-secondary-color;
    }

    .box {
      display: block;
      position: relative;
      right: 0;
      background: $theme-secondary-color;
      transition: all 0.3s ease;
      z-index: 99;
      span {
        transform: scale(0.7)
      }
    }
  }
}

section.review {
  position: relative;
  padding: 0 0 8rem;
  background: $white;

  @media screen and (max-width: $md) {
    padding: 0 0 4rem;
  }

  & h2 {
    color: $theme-main-color;

    span {
      margin-top: 1rem;
      color: $theme-main-color;
    }
  }

  & blockquote {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 2;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    color: $theme-main-color;
    border-left: 0;
    @media screen and (max-width: $sm ) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .author {
    font-weight: 600;
    font-style: normal;
    position: relative;
    display: block;
    margin-top: 1rem;
    text-align: center;

    &::before {
      display: block;
      width: 50px;
      height: 1px;
      margin: 0 auto 0.5rem;
      content: '';
      background: $theme-main-color;
    }
  }
}

section.review .bx-slider,
section.review .bx-slider li,
section.review .bx-wrapper {
  height: auto;
}
/* Contact ** */
section.contact {
  position: relative;
  .container {
    position: relative;
    z-index: 3;
  }
  padding: 6rem 0;
  background: url(img/bg-contact.jpg) no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  h3 {
    color: $black;
  }

  & .contact-info {
    position: relative;
    z-index: 3;
    padding: 4rem 2rem;
    background: $theme-secondary-color;
    @media screen and (max-width: $sm ) {
      margin: 0;
    }
  }

  @media screen and (max-width: $sm) {
    &::before {
      content:'';
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      background: rgba($white, 0.7);
    }
  }  
}

section.contact address,
section.contact address a {
  font-size: 21px;
  color: $black;
  transition: all 0.2s ease;
  @media screen and (max-width: $md) {
    font-size: 16px;
  }
}

section.contact address a:hover {
  color: $theme-secondary-color;
}